<h1>Tags#index</h1>

<%= link_to 'New Tag', new_tag_path %>

<table>
<tr><td>name</td><td>delete</td>
<% @tags.each do |t| %>
<tr><td><%= t.name %></td><td><%= link_to "Delete", tag_path(t), :method => :delete, data: {:confirm => "Do you delete the tag? #{t.name}"} %></td></tr>
<% end %>
</table>
